# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea output directory
.idea

# Ignore iml file
trademe-ui-test.iml

# Ignore path directory
path
